/* Desarrollo Web 1 */
/* Nombre Práctica: Hola Mundo */
/* Autor/a: */
/* Fecha de elaboración: */

.mx{
    position: absolute;
    left: 1000px;
    z-index: 3;
    font-size: 300px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: cornflowerblue;
}

.us{
    position: absolute;
    top: 190px;
    left: 500px;
    z-index: 2;
    font-size: 180px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: darkkhaki;   
}

.jp{
    position: absolute;
    top: 190px;
    right: 700px;
    z-index: 4;
    font-size: 85px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(247, 124, 190);  
}

.it{
    position: absolute;
    top: 10px;
    right: 650px;
    z-index: 1;
    font-size: 155px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(151, 238, 228);
}

.ko{
    position: absolute;
    top: 30px;
    right: 800px;
    z-index: 1;
    font-size: 50px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(226, 119, 176);  
}

.hi{
    position: absolute;
    top: 10px;
    left: 1050px;
    z-index: 1;
    font-size: 115px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(129, 189, 249);  
}

.ru{
    position: absolute;
    top: 80px;
    left: 710px;
    z-index: 1;
    font-size: 115px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(69, 58, 217);  
}

.po{
    position: absolute;
    top: 220px;
    right: 730px;
    z-index: 5;
    font-size: 260px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(212, 41, 243);  
}

.hw{
    position: absolute;
    top: 230px;
    left: 370px;
    z-index: 2;
    font-size: 335px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(224, 176, 43);  
}

.sw{
    position: absolute;
    bottom: 230px;
    right: 600px;
    z-index: 3;
    font-size: 145px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(160, 233, 51);
}

.he{
    position: absolute;
    bottom: 140px;
    left: 1000px;
    z-index: 3;
    font-size: 145px;
    /*p-webkit-text-stroke: thin cadetblue ;*/
    color: rgb(79, 231, 150);  
}
